doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/ext/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    script(src='/javascripts/ext/angularjs-1.6.1/angular.min.js')
    script(src='/javascripts/ext/angularjs-1.6.1/angular-route.min.js')
    script(src='javascripts/angular/app.js')
    //script(src='javascripts/controllers.js')
  body
    block content
